.design{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;

}
.box{
    height: 250px;
    width: 250px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.circle{
    height: 25px;
    width: 25px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    margin-top: -15px;
    background-color: white;
    left: 110px;
}


button{
    margin-top: 20px;
    height: 50px;
    width: 170px;
}


