.wrap{
    background-color: #2790aa;
}
h2{
    color: orange;
}
.card{
    height: 200px;
    width: 500px;
    background-color: white;
    border-radius: 15px;
    margin: 50px;
    display: flex;
    flex-direction: row;
}
.f{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pic{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}