h1 {
    color: white;
}

.full {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.widgets {
    background-color: blue;
    height: 150px;
    width: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.w {
    display: flex;
    column-gap: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.bigw {
    background-color: darkblue;
    width: 150px;
    height: 200px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contacts {
    background-color: blue;
    height: 150px;
    width: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.design{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;

}
.box{
    height: 250px;
    width: 250px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
}
button{
    margin-top: 20px;
    height: 50px;
    width: 170px;
}


